{% extends 'base/base.html' %}
{% block title %}Search | StyleHub{% endblock title %}
{% block start %}

{% if results %}
<div class="container mt-5 pt-5">
    <h3>Search Results for "{{ query }}"</h3>
    <div class="row">
        {% for product in results %}
        <div class="col-md-3">
            <figure class="card card-product-grid">
                <div class="img-wrap"> <img src="/media/{{product.product_images.first.image}}"> </div>
                <figcaption class="info-wrap border-top">
                    <a href="{% url 'get_product' product.slug %}" class="title">
                        <b>{{product.product_name}}</b></a>
                    <div class="price mt-2">${{product.price}}.00</div>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center mt-5">No results found for "{{ query }}".</h3>
    {% endif %}
</div>

{% endblock %}